{% block content %}
<section id="counter">
  <div class="container">
    <div class="stats row align-items-center justify-content-between p-5">
      <div class="col-md bg-warning text-center">
          <div class="col-md h2"><i class="fa-solid fa-users"></i></div>
          <div class="col-md"><h1 class="counter" data-target="400" data-speed="10">0</h1>
            <h5>Satisfied customers</h5></div>
      </div>
      <div class="col-md bg-warning text-center">
        <div class="col-md h2"><i class="fa-solid fa-medal"></i></div>
          <div class="col-md"><h1 class="counter" data-target="10" data-speed="500">0</h1>
            <h5>Tour destination</h5></div>
      </div>
      <div class="col-md bg-warning text-center">
        <div class="col-md h2"><i class="fa-solid fa-map"></i></div>
          <div class="col-md"><h1 class="counter" data-target="250" data-speed="1">0</h1>
            <h5>Awards achieved</h5></div>
      </div>
    </div>
  </div>  
</section>
{% endblock %}