{% block content %}
<section class="footer">

    <div class="container">
     <div class="row justify-content-center align-items-center">
      <div class="links col-md">
        <h5 class="text-light">Links</h5>
        <ul class="text-light">
          <li>
            <a href="#" class="text-light">home</a>
          </li>
          <li>
            <a href="#about" class="text-light">About us</a>
          </li>
          <li>
            <a href="#services" class="text-light">services</a>
          </li>
          <li>
            <a href="#tour" class="text-light">tour</a>
          </li>
          <li>
            <a href="#blog" class="text-light">blog</a>
          </li>
          <li>
            <a href="#" class="text-light">Dashboard</a>
          </li>
        </ul>
       </div>
       <div class="info text-light col-md">
        <h5>Contact Information</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad impedit beatae sunt?</p>
        <ul>
          <li><span><i class="fa-solid fa-phone"></i></span> 09131107309</li>
          <li><span><i class="fa-solid fa-message"></i></span> charleswebsite@gmail.com</li>
        </ul>
       </div>
       <div class="post text-light col-md text-center">
        <h5>Latest posts</h2>
        <p class="latest"><a href="#" class="text-light">life is a beautiful journey not a destination</a></p>
        <small>may 2nd 2023</small> | <small>no comments</small>
        <hr>
        <p class="latest"><a href="#" class="text-light">take only memories, leave only footprints</a></p>
        <small>april 29th 2023</small> | <small>no comments</small>
       </div>
       <div class="newsletter text-light col-md">
        <h5>Subscribe us</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, quae?</p>
        <div class="input">
          <input type="email" name="email" placeholder="Your email">
        </div>
        <div class="footer-btn mt-4">
          <a href="" class="btn btn-warning btn-lg w-100">Subscribe now</a>
        </div>
       </div>
     </div>
     <div class="row justify-content-center align-items-center text-light mt-5 shadow text-center">
      <div class="last-text col-md">
        <a>Privacy policy | Term & condition | FAQ</a>
      </div>
      <div class="last-title col-md">
        <h3>Backpack</h1>
      </div>
      <div class="copyright col-md">
        copyright &copy; 
        <script>
          document.write(new Date().getFullYear())
        </script> 
        backpack. All rights reserved
      </div>
     </div>
    </div>
   
   </section>
{% endblock %}