{% block content%}
<div class="nav-topper bg-dark text-light">
    <div class="container d-inline-flex p-2">
      <div class="name m-auto">backpack</div>
      <div class="mail m-auto">
        <a>charleswebsite@gmail.com</a>
          <a>09077480054 | 09131107309</a>
      </div>
      <div class="social-links d-flex d-flex justify-content-between">
        <div class="social-link mx-2"><a class="fa-brands fa-facebook-f"></a></div>
        <div class="social-link mx-2"><a class="fa-brands fa-instagram"></a></div>
        <div class="social-link mx-2"><a class="fa-brands fa-twitter"></a></div>
        <div class="social-link mx-2"><a class="fa-brands fa-whatsapp"></a></div>
        <div class="social-link mx-2"><a class="fa-brands fa-linkedIn"></i></div>
        <div class="social-link mx-2"><a class="fa-brands fa-github"></a></div>  
      </div>
    </div>
</div>
{% endblock %}