{% block content %}
<section id="tour">
    <div class="container mt-5">
      <div class="title text-center">
        <h1>Tours</h1>
      </div>
      <div class="row">
      <div class="col-md">
        <div class="box-one">
          <div class="img-container">
            <p class="text-light bg-primary m-3">Thailand</p>
        </div>
        </div>
      </div>
      <div class="col-md">
        <div class="box-two">
          <div class="img-container">
            <p class="text-light bg-primary m-3">Norway</p>
        </div>
        </div>
      </div>
      <div class="col-md">
      <div class="col-md">
        <div class="box-three">
          <div class="img-container">
            <p class="text-light bg-primary m-3">New Zealand</p>
        </div>
        </div>
      </div>
      <div class="col-md">
        <div class="box-four">
          <div class="img-container">
            <p class="text-light bg-primary m-3">Singapore</p>
        </div>
        </div>
      </div>
    </div>
  </div>
  </section>
{% endblock %}